@import 'imports/variables' , 'imports/mixins' ;

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box; }

    // margen *****************************
    // mobile first *************************



    //! MEDIA 550px ***************************

@media screen and (max-width:550px){
      

     //! ************************************
    //  PAGINA INDEZ
      .headerIndex{
        background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)),
        url(https://images.unsplash.com/photo-1606954901803-c7c2432fc64e?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1170&q=80);
        background-repeat: no-repeat;
        background-position: center;
        background-size: cover;
       position: relative;
        height: 1200px;
      }

      
      
      .menu{
        background: linear-gradient(rgba(0,0,0,0.5),rgba(0,0,0,0.5));
        height: 590px;
        
        .logo img{
            position: relative;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            margin-top: 100px;

             }
        .logo p{
          text-align: center;
          font-family: 'Bebas Neue', cursive;
          font-size: 2.3rem;
           }
           ul{
                    
            display: flex;
            flex-wrap: wrap;
            flex-direction: column;
            margin-left: auto;
            padding: 11px 20px;
            list-style: none;
            text-decoration: none;
            
            
          
            
        }
        li a{
            
            padding: 11px 20px;
            list-style: none;
            text-decoration: none;
            font-size: 1rem;
            color: white;
            text-align: center;
            
            
            
            
            
            
           

            }
        a:hover{
            background-color: rgb(223, 26, 26);
            border: 1px solid white;
            padding: 10px 19px;
            color: white;
            text-decoration: none;
           
        }
      }
    //   *********************** 
    
    // tituloMalala

   .tituloMalala{
    position: absolute;
    color: white;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    margin-top: 100px;

    h1{
        font-size: 2.5rem;
        
        font-family: 'Bebas Neue', cursive;
        
    }
    p{
        font-size: 1.5rem;
        margin: 15px 20px;
        font-family: 'Bebas Neue', cursive;
    }
    a{
          font-size: 1.3rem;
          display: inline-block;
          padding: 15px 20px;
          background-color: rgb(255, 0, 0);
          color: white;
          text-decoration: none;
          font-family: 'Bebas Neue', cursive;
          
          
    }
    a:hover{
        background-color: rgb(226, 71, 71);
        border: 2px white solid;
        padding: 13px 18px;
        color: white;
        list-style: none;

    }
   }
//    **************************
//  galeria *****************

.galeria{
    margin-top: 200px;
    font-family: 'open sans';
    h1{
        text-align: center;
        margin: 20px 0 15px 0;
        font-weight: 300;
        font-family: 'Bebas Neue', cursive;
        font-size: 3rem;
        color: rgb(0, 0, 0);
    }
    .linea{
        border-top: 5px solid rgb(255, 0, 0);
        margin-bottom: 40px;
    }
    .contenedor-imagenes{
        display: flex;
        width: 95%;
        margin: auto;
        justify-content: space-around;
        flex-wrap: wrap;
        border-radius: 3px;
      .imagen{
          width: 62%;
          
          position: relative;
          height: 300px;
          margin-bottom: 5px;
          box-shadow: 0px 0px 3px 0px rgba(0,0,0,.75);
          img{
              width: 100%;
              height: 100%;
              object-fit: cover;
            
          }
         
      }
      .overlay{
          position: absolute;
          bottom: 0;
          left: 0;
          background: rgba(231, 58, 58, 0.87);
          width: 100%;
          height: 0;
          transition: .5s ease;
          overflow: hidden;

          h2{
              color: white;
              font-size: 30px;
              position: absolute;
              top: 50%;
              left: 50%;
              text-align: center;
              transform: translate(-50%, -50%);
              font-family: 'Bebas Neue', cursive;

          }
          
      }
      
    }
    .imagen:hover .overlay{
        height: 100%;
        cursor: pointer;
    }
}
// ***************************

// seccion ayuda 

.seccionAyuda{
    
    width: 100%;
    height: 300px;
    margin-top: 70px;
    
    align-items: center;
    justify-content:space-evenly;
    color:rgb(223, 26, 26)
   



  

}

//! ***************************************************************

//! ****************************************************
// footer

.pie-pagina{
    width: 100%;
    background-color: black;
    padding-left: 40px;
    .grupo1{
        width: 100%;
       
        padding: 45px 0px;
        .box figure{
            width: 100%;
            height: 100%;
            
            img{
                width: 250px;
                
            }
          
        }
       .box h2{
           color: white;
           margin-bottom: 25px;
           font-size: 20px;
       }
       .box p{
           color: white;
           margin-bottom: 10px;
       }
       .redes a{
               display: inline-block;
               text-decoration: none;
               width: 55px;
               height: 55px;
               line-height: 45px;
               color: white;
               margin-right: 10px;
               
               text-align: center;
               transition: all 300ms ease;
               .redes a:hover{
                   color: red;
                   background-color: red;
               }
       }
    }

    .grupo2{
        
        padding: 15px 10px;
        text-align: center;
        color: white;
        small{
            font-size: 15px;
        }
    }
}

//! ******************************************
// PAGINA GALERIA 
.headerGaleria{
    
    .menu{
        background: black;
        height: 590px;
        
        .logo img{
            position: relative;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            margin-top: 100px;

             }
        .logo p{
          text-align: center;
          font-family: 'Bebas Neue', cursive;
          font-size: 2.3rem;
           }
           ul{
                    
            display: flex;
            justify-content: space-between;
            margin-left: auto;
            padding: 11px 20px;
            list-style: none;
            text-decoration: none;
            
            
          
            
        }
        li a{
            
            padding: 11px 20px;
            list-style: none;
            text-decoration: none;
            font-size: 1rem;
            color: white
            
            
            
            
            
           

            }
        a:hover{
            background-color: rgb(223, 26, 26);
            border: 1px solid white;
            padding: 10px 19px;
            color: white;
            text-decoration: none;
           
        }

}

}
.tituloGaleria{
    @include flex( column , nowrap , center , center );
    font-family: 'Bebas Neue', cursive;
    margin-top: 30px;
    font-size: 3rem;

    
}


.ul{
    width: 90%;
    background:lightgrey;
    padding:1em;
    margin-left: 20px;
    margin-top: 5%;
    display: grid;
    grid-template-columns: repeat( 1fr );
    gap: 1em;
  

    @include neo( 1 , 1em , 1em );

    
}
.ul .li{
    background: orange;
    overflow: hidden;

    @include neo( 1 , 1em , .8em );

    
}

.ul .img{
    height: 340px;
    width: 500px;
    
    transition: all .5s ease;
    transform:scale(1.4);
}
.ul .li:hover .img{
    transform:scale(1);
}

.lightbox{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(255,255,255,.8);
    z-index: 2;

    @include flex( column , nowrap , center , center );


    
    opacity: 0;
    transform: scale(1.1);
    transition: all .5s ease;
    pointer-events: none;
}
.lightbox.activo{
    opacity: 1;
    transform: scale(1);
    pointer-events: auto;
}
.lightbox .cerrar{
    width: 5em;
    height: 3em;
    background:orange;
    margin: 0 0 1em;

    @include neo( 1 , 1em , .5em );

    
    cursor: pointer;
}
.lightbox .cerrar:hover{
    @include neo( 2 , 1em , .5em );
}

.lightbox .grande{
    width: 400px;
    height: 300px;
    background: lightblue;
  
    @include neo( 1 , 1em , 1em );

}
//!  ********************************
// PAGINA INFORMACION

.headerInfo{
    
    .menu{
        background: black;
        height: 690px;
        
        .logo img{
            position: relative;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            margin-top: 100px;

             }
        .logo p{
          text-align: center;
          font-family: 'Bebas Neue', cursive;
          font-size: 2.3rem;
           }
         
           ul{
                    
            display: flex;
            justify-content: space-between;
            margin-left: auto;
            padding: 11px 20px;
            list-style: none;
            text-decoration: none;
            
            
          
            
        }
        li a{
            
            padding: 11px 20px;
            list-style: none;
            text-decoration: none;
            font-size: 1rem;
            color: white
            
            
            
            
            
           

            }
        a:hover{
            background-color: rgb(223, 26, 26);
            border: 1px solid white;
            padding: 10px 19px;
            color: white;
            text-decoration: none;
           
        }

}

}

    


.titulo1{
    position: absolute;
    color: rgb(0, 0, 0);
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    margin-top: 700px;

    h1{
        font-size: 3.5rem;
        
        font-family: 'Bebas Neue', cursive;
        
    }
    p{
        font-size: 1.5rem;
        margin: 15px 20px;
        font-family: 'Bebas Neue', cursive;
    }
    a{
          font-size: 1.3rem;
          display: inline-block;
          padding: 15px 20px;
          background-color: rgb(255, 0, 0);
          color: white;
          text-decoration: none;
          font-family: 'Bebas Neue', cursive;
          
          
    }
    a:hover{
        background-color: rgb(226, 71, 71);
        border: 2px white solid;
        padding: 13px 18px;
        color: white;
        list-style: none;

    }
   }

   .flexInfo{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    margin: 20px;
}

   .cajaInfo{
     
    
   
    .tituloInfo{
        font-size: 30px;
        text-align: center;
        padding: 10px 10px 10px 10px;
    }
    .parrafo{
        font-size: 18px;
        text-align: center;
    }
}



.testimonios{
    width: 100%;
    margin-top: 170px;
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 260px;
    h3{
        text-align: center;
        font-size: 3rem;
        font-family: 'Bebas Neue', cursive;
    }
     .linea{
            border-top: 5px solid rgb(255, 0, 0);
            margin-bottom: 40px;
        
     }
     .captura img{
         
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        width: 500px;
        height: 600px;
     }
      
        a{
            font-size: 1.3rem;
            padding: 15px 20px;
            background-color: rgb(255, 0, 0);
            color: white;
            text-decoration: none;
            font-family: 'Bebas Neue', cursive;
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            width: 100%;
            
            
      }
      a:hover{
          background-color: rgb(226, 71, 71);
          border: 2px white solid;
          padding: 13px 18px;
          color: white;
          list-style: none;
  
      }
     }


     .direccion{
        
        margin-top: 170px;
        h3{
            text-align: center;
            font-size: 3rem;
            font-family: 'Bebas Neue', cursive;
        }
         .linea{
                border-top: 5px solid rgb(255, 0, 0);
                margin-bottom: 40px;
            
         }
         .capturaMaps img{
             margin-left: 3px;
         }
          
            a{
                font-size: 1.3rem;
                padding: 15px 20px;
                background-color: rgb(255, 0, 0);
                color: white;
                text-decoration: none;
                display: flex;
                flex-direction: column;
                align-items: center;
                justify-content: center;
                font-family: 'Bebas Neue', cursive;
                
                
          }
          a:hover{
              background-color: rgb(226, 71, 71);
              border: 2px white solid;
              padding: 13px 18px;
              color: white;
              list-style: none;
      
          }
    }

    .contenedor{
        position: relative;
        display: flex;
        align-items: center;
        justify-content: center;
 
        
        img{
            width: 600px;
            height: 300px;
            box-shadow: 25px 25px 8px #444;
            margin-top: 30px;
            object-fit: cover;
            margin-bottom: 30px;
            padding: 5px 10px 0 10px;
            
        }
    }


}


    //! MEDIA 550px a 1020px  ***************************


@media screen and (min-width:551px)and  (max-width:1020px){

    // **********************************************
    // PAGINA INDEX
    .headerIndex{
        background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)),
        url(https://images.unsplash.com/photo-1606954901803-c7c2432fc64e?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1170&q=80);
        background-repeat: no-repeat;
        background-position: center;
        background-size: cover;
        position: relative;
        height: 800px;
      }

      .menu{
        background: linear-gradient(rgba(0,0,0,0.5),rgba(0,0,0,0.5));
        height: 390px;
      
        .logo img{
            position: relative;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            margin-top: 80px;
            

             }
        .logo p{
          text-align: center;
          font-family: 'Bebas Neue', cursive;
          font-size: 1.3rem;
           }
           ul{
                    
            display: flex;
            justify-content: space-between;
            margin-left: auto;
            padding: 11px 20px;
            list-style: none;
            text-decoration: none;
            
            
          
            
        }
        li a{
            
            padding: 11px 20px;
            list-style: none;
            text-decoration: none;
            font-size: 1rem;
            color: white
            
            
            
            
            
           

            }
        a:hover{
            background-color: rgb(223, 26, 26);
            border: 1px solid white;
            padding: 10px 19px;
            color: white;
            text-decoration: none;
           
        }
      }
    //   *********************** 
    
    // tituloMalala

   .tituloMalala{
    position: absolute;
    color: white;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    margin-top: 200px;

    h1{
        font-size: 2.5rem;
        
        font-family: 'Bebas Neue', cursive;
        
    }
    p{
        font-size: 1.5rem;
        margin: 15px 20px;
        font-family: 'Bebas Neue', cursive;
    }
    a{
          font-size: 1.3rem;
          display: inline-block;
          padding: 15px 20px;
          background-color: rgb(255, 0, 0);
          color: white;
          text-decoration: none;
          font-family: 'Bebas Neue', cursive;
          
          
    }
    a:hover{
        background-color: rgb(226, 71, 71);
        border: 2px white solid;
        padding: 13px 18px;
        color: white;
        list-style: none;

    }
   }
//    **************************
//  galeria *****************

.galeria{
    font-family: 'open sans';
    h1{
        text-align: center;
        margin: 20px 0 15px 0;
        font-weight: 300;
        font-family: 'Bebas Neue', cursive;
        font-size: 3rem;
        color: rgb(0, 0, 0);
    }
    .linea{
        border-top: 5px solid rgb(255, 0, 0);
        margin-bottom: 40px;
    }
    .contenedor-imagenes{
        display: flex;
        width: 95%;
        margin: auto;
        justify-content: space-around;
        flex-wrap: wrap;
        border-radius: 3px;
      .imagen{
          width: 62%;
          
          position: relative;
          height: 300px;
          margin-bottom: 5px;
          box-shadow: 0px 0px 3px 0px rgba(0,0,0,.75);
          img{
              width: 100%;
              height: 100%;
              object-fit: cover;
            
          }
         
      }
      .overlay{
          position: absolute;
          bottom: 0;
          left: 0;
          background: rgba(231, 58, 58, 0.87);
          width: 100%;
          height: 0;
          transition: .5s ease;
          overflow: hidden;

          h2{
              color: white;
              font-size: 30px;
              position: absolute;
              top: 50%;
              left: 50%;
              text-align: center;
              transform: translate(-50%, -50%);
              font-family: 'Bebas Neue', cursive;

          }
          
      }
      
    }
    .imagen:hover .overlay{
        height: 100%;
        cursor: pointer;
    }
}
// ***************************

// seccion ayuda 

.seccionAyuda{
    
    width: 100%;
    height: 300px;
    margin-top: 70px;
    
    align-items: center;
    justify-content:space-evenly;
    color:rgb(223, 26, 26)
   



  

}

// ***************************************************************
// PAGINA GALERIA

.headerGaleria{
    
    .menu{
        background: black;
        height: 590px;
        
        .logo img{
            position: relative;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            margin-top: 100px;

             }
        .logo p{
          text-align: center;
          font-family: 'Bebas Neue', cursive;
          font-size: 2.3rem;
           }
           ul{
                    
            display: flex;
            justify-content: space-between;
            margin-left: auto;
            padding: 11px 20px;
            list-style: none;
            text-decoration: none;
            
            
          
            
        }
        li a{
            
            padding: 11px 20px;
            list-style: none;
            text-decoration: none;
            font-size: 1rem;
            color: white
            
            
            
            
            
           

            }
        a:hover{
            background-color: rgb(223, 26, 26);
            border: 1px solid white;
            padding: 10px 19px;
            color: white;
            text-decoration: none;
           
        }

}

}

.tituloGaleria{
    @include flex( column , nowrap , center , center );
    font-family: 'Bebas Neue', cursive;
    margin-top: 30px;
    font-size: 3rem;
    
}


.ul{
    width: 100%;
    background:lightgrey;
    padding:1em;
    margin-top: 5%;
    display: grid;
    grid-template-columns: repeat( 2,1fr );
    gap: 1em;

    @include neo( 1 , 1em , 1em );

    
}
.ul .li{
    background: orange;
    overflow: hidden;

    @include neo( 1 , 1em , .8em );

    
}

.ul .img{
    height: 340px;
    width: 500px;
    
    transition: all .5s ease;
    transform:scale(1.4);
}
.ul .li:hover .img{
    transform:scale(1);
}

.lightbox{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(255,255,255,.8);
    z-index: 2;

    @include flex( column , nowrap , center , center );


    
    opacity: 0;
    transform: scale(1.1);
    transition: all .5s ease;
    pointer-events: none;
}
.lightbox.activo{
    opacity: 1;
    transform: scale(1);
    pointer-events: auto;
}
.lightbox .cerrar{
    width: 5em;
    height: 3em;
    background:orange;
    margin: 0 0 1em;

    @include neo( 1 , 1em , .5em );

    
    cursor: pointer;
}
.lightbox .cerrar:hover{
    @include neo( 2 , 1em , .5em );
}

.lightbox .grande{
    width: 500px;
    height: 300px;
    background: lightblue;
  
    @include neo( 1 , 1em , 1em );

}
//! *******
// **********************************************
// PAGINA INFORMACION 

.headerInfo{
    
    .menu{
        background: black;
        height: 490px;
        
        .logo img{
            position: relative;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            margin-top: 100px;

             }
        .logo p{
          text-align: center;
          font-family: 'Bebas Neue', cursive;
          font-size: 2.3rem;
          margin-bottom: 20px;
           }
           ul{
                    
            display: flex;
            justify-content: space-between;
            margin-left: auto;
            padding: 11px 20px;
            list-style: none;
            text-decoration: none;
            
            
          
            
        }
        li a{
            
            padding: 11px 20px;
            list-style: none;
            text-decoration: none;
            font-size: 1rem;
            color: white
            
            
            
            
            
           

            }
        a:hover{
            background-color: rgb(223, 26, 26);
            border: 1px solid white;
            padding: 10px 19px;
            color: white;
            text-decoration: none;
           
        }

}

}

.titulo1{
    position: absolute;
    color: rgb(0, 0, 0);
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    margin-top: 300px;

    h1{
        font-size: 3.5rem;
        
        font-family: 'Bebas Neue', cursive;
        
    }
    p{
        font-size: 1.5rem;
        margin: 15px 20px;
        font-family: 'Bebas Neue', cursive;
    }
    a{
          font-size: 1.3rem;
          display: inline-block;
          padding: 15px 20px;
          background-color: rgb(255, 0, 0);
          color: white;
          text-decoration: none;
          font-family: 'Bebas Neue', cursive;
          
          
    }
    a:hover{
        background-color: rgb(226, 71, 71);
        border: 2px white solid;
        padding: 13px 18px;
        color: white;
        list-style: none;

    }
   }

   .flexInfo{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    margin: 20px;
}

   .cajaInfo{
    
   
    .tituloInfo{
        font-size: 30px;
        text-align: center;
        padding: 10px 10px 10px 10px;
    }
    .parrafo{
        font-size: 18px;
        text-align: center;
    }
}



.testimonios{
    width: 100%;
    margin-top: 170px;
    display: flex;
    flex-direction: column;
    align-items: center;
    
    
    h3{
        text-align: center;
        font-size: 3rem;
        font-family: 'Bebas Neue', cursive;
    }
     .linea{
            border-top: 5px solid rgb(255, 0, 0);
            margin-bottom: 40px;
        
     }
     .captura img{
         display: flex;
         flex-direction: column;
         align-items: center;
         justify-content: center;
         width: 500px;
         height: 500px;
     }
      
        a{
            font-size: 1.3rem;
            
            padding: 15px 20px;
            background-color: rgb(255, 0, 0);
            color: white;
            text-decoration: none;
            font-family: 'Bebas Neue', cursive;
            
            
            
      }
      a:hover{
          background-color: rgb(226, 71, 71);
          border: 2px white solid;
          padding: 13px 18px;
          color: white;
          list-style: none;
  
      }
     }


     .direccion{
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-top: 170px;
        h3{
            text-align: center;
            font-size: 3rem;
            font-family: 'Bebas Neue', cursive;
        }
         .linea{
                border-top: 5px solid rgb(255, 0, 0);
                margin-bottom: 40px;
            
         }
         .capturaMaps img{
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            width: 500px;
            height: 500px;
         }
          
            a{
                font-size: 1.3rem;
                display: inline-block;
                padding: 15px 20px;
                background-color: rgb(255, 0, 0);
                color: white;
                text-decoration: none;
                margin-top: 30px;
                margin-bottom: 40px;
                font-family: 'Bebas Neue', cursive;
                display: flex;
                flex-direction: column;
                align-items: center;
                justify-content: center;
                
                
          }
          a:hover{
              background-color: rgb(226, 71, 71);
              border: 2px white solid;
              padding: 13px 18px;
              color: white;
              list-style: none;
      
          }

          .contenedor{
            position: relative;
            display: flex;
            align-items: center;
            justify-content: center;
     
            
            img{
                width: 700px;
                height: 400px;
                box-shadow: 25px 25px 8px #444;
                margin-top: 30px;
                object-fit: cover;
                
            }
        }
    }


// ****************************************************
// footer

.pie-pagina{
    width: 100%;
    background-color: black;
    padding-left: 40px;
    .grupo1{
        width: 100%;
       
        padding: 45px 0px;
        .box figure{
            width: 100%;
            height: 100%;
            
            img{
                width: 250px;
                
            }
          
        }
       .box h2{
           color: white;
           margin-bottom: 25px;
           font-size: 20px;
       }
       .box p{
           color: white;
           margin-bottom: 10px;
       }
       .redes a{
               display: inline-block;
               text-decoration: none;
               width: 55px;
               height: 55px;
               line-height: 45px;
               color: white;
               margin-right: 10px;
               
               text-align: center;
               transition: all 300ms ease;
               .redes a:hover{
                   color: red;
                   background-color: red;
               }
       }
    }

    .grupo2{
        
        padding: 15px 10px;
        text-align: center;
        color: white;
        small{
            font-size: 15px;
        }
    }
}

.contenedor{
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;

    
    img{
        width: 700px;
        height: 400px;
        box-shadow: 25px 25px 8px #444;
        margin-top: 30px;
        object-fit: cover;
        margin-bottom: 30px;
        
    }
}


}

   
      //! MEDIA 1021px a 2400px  ***************************


@media screen and (min-width:1021px)and  (max-width:2400px){


    // *********************************
    // PAGINA INDEX

    .headerIndex{
        height: 100vh;
        background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)),
        url(https://images.unsplash.com/photo-1606954901803-c7c2432fc64e?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1170&q=80);
        background-repeat: no-repeat;
        background-position: center;
        background-size: cover;
        position: relative;
        
        
             
 
   }
 
             
//  menu 
   
    .menu{
      
                display: flex;
                background: linear-gradient(rgba(0,0,0,0.5),rgba(0,0,0,0.5));
                height: 150px;
                .logo{
                    
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    font-size: 1rem;
                    
                    
                   


                }
              
                ul{
                    
                    display: flex;
                    margin-left: auto;
                   
                    list-style: none;
                    text-decoration: none;
                    align-items: center;
                  
                    
                }
               
                li a{
                    
                    display: inline-block;
                    padding: 15px 30px;
                    font-size: 1rem;
                    color: white;
                    text-decoration: none;
                    
                    
                    
                     }
                a:hover{
                    background-color: rgb(223, 26, 26);
                    border: 1px solid white;
                    padding: 14px 29px;
                    color: white;
                    text-decoration: none;
                   
                }

    }

.tituloMalala{
        position: absolute;
        color: white;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        text-align: center;

        h1{
            font-size: 5rem;
            margin: 15px 30px;
            font-family: 'Bebas Neue', cursive;
        }
        p{
            font-size: 1.5rem;
            margin: 15px 20px;
            font-family: 'Bebas Neue', cursive;
        }
        a{
              font-size: 1.3rem;
              display: inline-block;
              padding: 15px 20px;
              background-color: rgb(255, 0, 0);
              color: white;
              text-decoration: none;
              font-family: 'Bebas Neue', cursive;
              
              
        }
        a:hover{
            background-color: rgb(226, 71, 71);
            border: 2px white solid;
            padding: 13px 18px;
            color: white;
            list-style: none;

        }
}

// galeria 

.galeria{
    font-family: 'open sans';
    h1{
        text-align: center;
        margin: 20px 0 15px 0;
        font-weight: 300;
        font-family: 'Bebas Neue', cursive;
        font-size: 3rem;
    }
    .linea{
        border-top: 5px solid rgb(255, 0, 0);
        margin-bottom: 40px;
    }
    .contenedor-imagenes{
        display: flex;
        width: 85%;
        margin: auto;
        justify-content: space-around;
        flex-wrap: wrap;
        border-radius: 3px;
      .imagen{
          width: 32%;
          position: relative;
          height: 300px;
          margin-bottom: 5px;
          box-shadow: 0px 0px 3px 0px rgba(0,0,0,.75);
          img{
              width: 100%;
              height: 100%;
              object-fit: cover;
            
          }
         
      }
      .overlay{
          position: absolute;
          bottom: 0;
          left: 0;
          background: rgba(231, 58, 58, 0.87);
          width: 100%;
          height: 0;
          transition: .5s ease;
          overflow: hidden;

          h2{
              color: white;
              font-size: 30px;
              position: absolute;
              top: 50%;
              left: 50%;
              text-align: center;
              transform: translate(-50%, -50%);
              font-family: 'Bebas Neue', cursive;

          }
          
      }
      
    }
    .imagen:hover .overlay{
        height: 100%;
        cursor: pointer;
    }
}


// seccion ayuda 

.seccionAyuda{
    
    width: 100%;
    height: 400px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content:space-evenly;
    color:rgb(223, 26, 26);
    font-size: 0.8rem;
   



  

}

// ****************************************
// PAGINA GALERIA
.headerGaleria{
    .menu{
                
        display: flex;
        background-color:black;
        height: 170px;
    
        .logo{
            
            display: flex;
            justify-content: center;
            align-items: center;
           
           
            font-size: 1.3rem;


        }
        ul{
            
            display: flex;
            margin-left: auto;
            align-items: center;
            list-style: none;
            text-decoration: none;
          
            
        }
        li a{
            
            display: inline-block;
            padding: 15px 30px;
            font-size: 1rem;
            color: white
            
            
            
            
            
           

            }
        a:hover{
            background-color: rgb(223, 26, 26);
            border: 1px solid white;
            padding: 14px 29px;
            color: white;
            text-decoration: none;
           
        }

}

}

.tituloGaleria{
    @include flex( column , nowrap , center , center );
    font-family: 'Bebas Neue', cursive;
    margin-top: 30px;
    font-size: 3rem;
}


.ul{
    width: 100%;
    background:lightgrey;
    padding:1em;
    margin-top: 5%;
    display: grid;
    grid-template-columns: repeat( 4,1fr );
    gap: 1em;

    @include neo( 1 , 1em , 1em );

    
}
.ul .li{
    background: orange;
    overflow: hidden;

    @include neo( 1 , 1em , .8em );

    
}

.ul .img{
    height: 340px;
    width: 500px;
    
    transition: all .5s ease;
    transform:scale(1.4);
}
.ul .li:hover .img{
    transform:scale(1);
}

.lightbox{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(255,255,255,.8);
    z-index: 2;

    @include flex( column , nowrap , center , center );


    
    opacity: 0;
    transform: scale(1.1);
    transition: all .5s ease;
    pointer-events: none;
}
.lightbox.activo{
    opacity: 1;
    transform: scale(1);
    pointer-events: auto;
}
.lightbox .cerrar{
    width: 5em;
    height: 3em;
    background:orange;
    margin: 0 0 1em;

    @include neo( 1 , 1em , .5em );

    
    cursor: pointer;
}
.lightbox .cerrar:hover{
    @include neo( 2 , 1em , .5em );
}

.lightbox .grande{
    width: 700px;
    height: 500px;
    background: lightblue;
  
    @include neo( 1 , 1em , 1em );

}




//! *********************************
// PAGINA INFORMACION 


.headerInfo{
    .menu{
                
        display: flex;
        background-color:black;
        height: 170px;
    
        .logo{
            
            display: flex;
            justify-content: center;
            align-items: center;
            
            font-size: 1.3rem;


        }
        ul{
            
            display: flex;
            margin-left: auto;
            align-items: center;
            list-style: none;
            text-decoration: none;
          
            
        }
        li a{
            
            display: inline-block;
            padding: 15px 30px;
            font-size: 1rem;
            color: white
            
            
            
            
            
           

            }
        a:hover{
            background-color: rgb(223, 26, 26);
            border: 1px solid white;
            padding: 14px 29px;
            color: white;
            text-decoration: none;
           
        }

}

}

.titulo1{
    position: relative;
    height: 300px;
    color: rgb(20, 18, 18);
    margin-top: 50px;
    font-family: 'Bebas Neue', cursive;
    
    text-align: center;

    h1{
        font-size: 5rem;
        margin: 15px 30px;
        font-family: 'Bebas Neue', cursive;
    }
    p{
        font-size: 1.5rem;
        margin: 15px 20px;
        font-family: 'Bebas Neue', cursive;
    }
    a{
          font-size: 1.3rem;
          display: inline-block;
          padding: 15px 20px;
          background-color: rgb(255, 0, 0);
          color: white;
          text-decoration: none;
          font-family: 'Bebas Neue', cursive;
          
          
    }
    a:hover{
        background-color: rgb(226, 71, 71);
        border: 2px white solid;
        padding: 13px 18px;
        color: white;
        list-style: none;

    }
}

.flexInfo{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    margin: 20px;
}
}

.cajaInfo{
  

    
    .tituloInfo{
        font-size: 30px;
        text-align: center;
        padding: 10px 10px 10px 10px;
    }
    .parrafo{
        font-size: 18px;
        text-align: center;
    }
}

.testimonios{
    width: 100%;
    margin-top: 270px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    color: white;
    text-align: center;
    
    h3{
        text-align: center;
        font-size: 3rem;
        font-family: 'Bebas Neue', cursive;
      color: black;
       
    }
     .linea{
            border-top: 5px solid rgb(255, 0, 0);
            margin-bottom: 40px;
            margin-top: 30px;
        
     }
     .captura img{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
     }
      
        a{
            font-size: 1.3rem;
            padding: 15px 20px;
            background-color: rgb(255, 0, 0);
            color: white;
            text-decoration: none;
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            text-align: center;
            font-family: 'Bebas Neue', cursive;
            width: 30%;
            position: relative;
            
      }
      a:hover{
          background-color: rgb(226, 71, 71);
          border: 2px white solid;
          padding: 13px 18px;
          color: white;
          list-style: none;
  
      }
     }
  

    .direccion{
        width: 100%;
        margin-top: 170px;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        text-align: center;
        color: white;
        text-align: center;
        h3{
            text-align: center;
            font-size: 3rem;
            font-family: 'Bebas Neue', cursive;
        }
         .linea{
                border-top: 5px solid rgb(255, 0, 0);
                margin-bottom: 40px;
            
         }
         .capturaMaps img{
             
             width: 1000px;
             height: 800px;
         }
          
            a{
                font-size: 1.3rem;
                padding: 15px 20px;
                background-color: rgb(255, 0, 0);
                color: white;
                text-decoration: none;
                display: flex;
                flex-direction: column;
                align-items: center;
                justify-content: center;
                text-align: center;
                font-family: 'Bebas Neue', cursive;
                width: 30%;
                position: relative;
                
                
          }
          a:hover{
              background-color: rgb(226, 71, 71);
              border: 2px white solid;
              padding: 13px 18px;
              color: white;
              list-style: none;
      
          }
    }

    //    slider
   
   .contenedor{
       position: relative;
       display: flex;
       align-items: center;
       justify-content: center;

       
       img{
           width: 700px;
           height: 400px;
           box-shadow: 25px 25px 8px #444;
           margin-top: 30px;
           object-fit: cover;
           
       }
   }
 

// *************************************
// FOOTER
.pie-pagina{
    width: 100%;
    background-color: black;
    margin-top: 60px;
    .grupo1{
        width: 100%;
        max-width: 1600px;
        margin: auto;
        display: grid;
        grid-template-columns: repeat(3,1fr);
        grid-gap: 190px;
        padding: 45px 0px;
        .box figure{
            width: 100%;
            height: 100%;
            
            img{
                width: 250px;
            }
          
        }
       .box h2{
           color: white;
           margin-bottom: 25px;
           font-size: 20px;
       }
       .box p{
           color: white;
           margin-bottom: 10px;
       }
       .redes a{
               display: inline-block;
               text-decoration: none;
               width: 55px;
               height: 55px;
               line-height: 45px;
               color: white;
               margin-right: 10px;
               
               text-align: center;
               transition: all 300ms ease;
               .redes a:hover{
                   color: red;
                   background-color: red;
               }
       }
    }

    .grupo2{
        
        padding: 15px 10px;
        text-align: center;
        color: white;
        small{
            font-size: 15px;
        }
    }
}

}

//! *****************************************************************
// ! termina media desktop

// *********************
// formulario 

.body-reservar {
	font-family: 'Roboto', sans-serif;
	background: #E5E5E5;
}



.main-reservar {
	max-width: 800px;
	width: 90%;
	margin: auto;
	padding: 40px;
}

.formulario {
	display: grid;
	grid-template-columns: 1fr 1fr;
	gap: 20px;
    
}

.formulario__label {
	display: block;
	font-weight: 700;
	padding: 10px;
	cursor: pointer;
    color: rgb(12, 11, 11);
}

.formulario__grupo-input {
	position: relative;
    
}

.formulario__input {
	width: 100%;
	background: #fff;
	border: 3px solid transparent;
	border-radius: 3px;
	height: 45px;
	line-height: 45px;
	padding: 0 40px 0 10px;
	transition: .3s ease all;
}

.formulario__input:focus {
	border: 3px solid #1569d8;
	outline: none;
	box-shadow: 3px 0px 30px rgba(163,163,163, 0.4);
}

.formulario__input-error {
	font-size: 12px;
	margin-bottom: 0;
	display: none;
}

.formulario__input-error-activo {
	display: block;
}

.formulario__validacion-estado {
	position: absolute;
	right: 10px;
	bottom: 15px;
	z-index: 100;
	font-size: 16px;
	opacity: 0;
}

.formulario__checkbox {
	margin-right: 10px;
}

.formulario__grupo-terminos, 
.formulario__mensaje,
.formulario__grupo-btn-enviar {
	grid-column: span 2;
}

.formulario__mensaje {
	height: 45px;
	line-height: 45px;
	background: #F66060;
	padding: 0 15px;
	border-radius: 3px;
	display: none;
}

.formulario__mensaje-activo {
	display: block;
}

.formulario__mensaje p {
	margin: 0;
}

.formulario__grupo-btn-enviar {
	display: flex;
	flex-direction: column;
	align-items: center;
}

.formulario__btn {
	height: 45px;
	line-height: 45px;
	width: 30%;
	background: #000;
	color: #fff;
	font-weight: bold;
	border: none;
	border-radius: 3px;
	cursor: pointer;
	transition: .1s ease all;
}

.formulario__btn:hover {
	box-shadow: 3px 0px 30px rgba(163,163,163, 1);
}

.formulario__mensaje-exito {
	font-size: 14px;
	color: #119200;
	display: none;
}

.formulario__mensaje-exito-activo {
	display: block;
}

/* ----- -----  Estilos para Validacion ----- ----- */
.formulario__grupo-correcto .formulario__validacion-estado {
	color: #1ed12d;
	opacity: 1;
}

.formulario__grupo-incorrecto .formulario__label {
	color: #bb2929;
}

.formulario__grupo-incorrecto .formulario__validacion-estado {
	color: #bb2929;
	opacity: 1;
}

.formulario__grupo-incorrecto .formulario__input {
	border: 3px solid #c02424;
}







@media screen and (max-width: 800px) {
	.formulario {
		grid-template-columns: 1fr;
	}

	.formulario__grupo-terminos, 
	.formulario__mensaje,
	.formulario__grupo-btn-enviar {
		grid-column: 1;
	}

	.formulario__btn {
		width: 100%;
	}
}